body {
  max-width: 40em;
  margin: 0 auto;
  padding: 5px;
  font-family: "Helvetica", "Arial", sans-serif; /* Georgia, serif; */
  font-size: 18px;
  line-height: 1.6em;
  color: #555; /* black; */
}
h1, h2, h3 {
  font-family: sans-serif;
  font-weight: normal;
  text-decoration: none;
}

h1,
h2,
strong {
  color: #333;
}


a.h1 {

  text-decoration: none;
}